notebook
PyMuPDF
future
geatpy
importlib_metadata
ipywidgets
matplotlib
numpy
openpyxl
pandas
pip
pipreqs
pyface
pyodbc
pyslvs_ui
python_minifier
pyvista
pywin32
reportlab
sviewgui
sympy
traits
traitsui
wxPython
xlwings
