future==0.18.3
geatpy==2.7.0
importlib_metadata==8.4.0
matplotlib==3.7.3
pandas==2.0.1
pip==21.1.1
pyface==8.0.0
pyodbc==4.0.39
pyslvs_ui==22.7.0
reportlab==4.0.4
sympy==1.11.1
wxPython==4.2.0
xlwings==0.30.4
