
PyAutoGUI
PyMuPDF
PySimpleGUI
future
geatpy
importlib_metadata
matplotlib
notebook
numpy
openpyxl
pandas
pip
pipreqs
pyface
pyodbc
pyslvs_ui
python_minifier
pyvista
pywin32
reportlab
sviewgui
sympy
traits
traitsui
wxPython
xlwings
